@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
  background:#f6ffa3;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
  min-height: 100vh;
}

body, .button {
  color: #F37335; 
}

.title {
  color: #fff; 
  font-size: 2.25rem;
  font-weight: 900;
  margin: 0 auto;
  text-shadow: 3px 3px #ff1778, -1px 1px #ff1778, 1px -1px #ff1778, 0 -1px #ff1778, -1px 0 #ff1778, 0 1px #ff1778, 1px 0 #ff1778;
  width: max-content;
}

.books {
  border: 1px solid #fff;
  box-shadow: 3px 3px 0 1px #F37335, 0 0 0 1px #F37335;
  font-size: 1.25rem;
  margin: 25px auto;
  max-width: 670px;
  min-height: 40px;
  width: 100%;
}

.book {
  background-color: #fff;
  box-sizing: border-box;
  color: #ff1778;
  display: flex;
  font-weight: 400;
  height: 40px;
  justify-content: space-between;
  padding: 8px 25px 0 10px;
  width: 100%;
}

.book:nth-child(odd) {
  background-color: #FDC830;
  color: #fff;
}

.button {
  background-color: #fff;
  border: none;
  box-shadow: -1px -1px 0 0 #F37335, -1px 1px 0 0 #F37335, 1px -1px 0 0 #F37335, 2px 2px 0 2px #F37335;
  color: #fff;
  text-shadow: 2px 2px #F37335, -1px 1px #F37335, 1px -1px #F37335, 0 -1px #F37335, -1px 0 #F37335, 0 1px #F37335, 1px 0 #F37335;
  font-size: 1.2rem;
  font-weight: 700;
  height: max-content;
  padding: 0 5px;
}

.button:hover {
  box-shadow: -1px -1px 0 0 #F37335, -1px 1px 0 0 #F37335, 1px -1px 0 0 #F37335, 1px 1px 0 1px #F37335;
  transform: translate(2px, 2px);
}

.book:nth-child(even) .button {
  box-shadow: -1px -1px 0 0 #ff1778, -1px 1px 0 0 #ff1778, 1px -1px 0 0 #ff1778, 2px 2px 0 2px #ff1778;
  color: #fff;
  text-shadow: 2px 2px #ff1778, -1px 1px #ff1778, 1px -1px #ff1778, 0 -1px #ff1778, -1px 0 #ff1778, 0 1px #ff1778, 1px 0 #ff1778;
}

.book:nth-child(even) .button:hover {
  box-shadow: -1px -1px 0 0 #ff1778, -1px 1px 0 0 #ff1778, 1px -1px 0 0 #ff1778, 1px 1px 0 1px #ff1778;
  transform: translate(2px, 2px);
}

.divider {
  border: 1px solid #FDC830;
  margin-top: 35px;
  max-width: 160px;
  width: 25%;
}

.form {
  margin: 25px auto;
  max-width: 335px;
  width: 50%;
}

.formContent {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.formContent * {
  height: 30px;
  margin: 10px 0;
  width: 100%;
}

.formContent button {
  width: 70px;
}

.formContent input {
  border: 1px solid #F37335;
  box-sizing: border-box;
  box-shadow: none;
  color: #F37335;
  font-size: 1.2rem;
  height: 40px;
  padding: 5px 10px;
}

.formContent input:focus, input:valid {
  color: #ff1778;
}